.gallery {
    margin: 10px 50px;
}

.gallery img { 
    transition: 1s;
    padding: 15px;
    width: 300px;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.videos video { 
    transition: 1s;
    padding: 15px;
    width: 300px;
}

.videos video:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}